<mat-card style="background-color:transparent; box-shadow: none;margin-bottom: 30px;">
    <span style="position: absolute; ">
<mat-icon style="color: #5BAEF3 ; margin:0px 20px;font-size: 18px;">west</mat-icon></span>
<span style="font-weight: bold; font-size: 16px;margin-left: 60px;position: absolute">Create Assignment</span>
<span style="float: right;">
<button>NEXT</button></span>
</mat-card>


<mat-card class="digi-card">

    
<ul>
 <span class="digi-adjust">
       
    <span class="digi-1">
       <mat-icon style="position: absolute ;color:#5BAEF3; font-size:20px;" >looks_one</mat-icon>
    </span>
    <span class="digi-2" style="color:#5BAEF3;margin-left: 34px;">
        Select a course
     </span>
     <span class="digi-3" style="position: absolute;margin-left: 10px; bottom: 39px; color:#5BAEF3">
        <mat-icon style="position: absolute; ">keyboard_arrow_right</mat-icon>
    </span>
</span>   

<span class="digi-adjust">
    <span class="digi-1" style=" margin-left: 44px; color:#5BAEF3" >
        <mat-icon style="position: absolute ;color:#5BAEF3; font-size:20px;">looks_two</mat-icon>
    </span>
    <span class="digi-2" style=" margin-left: 34px; color:#5BAEF3" >
       Create Assignment
    </span>
    <span class="digi-3" style="position: absolute;margin-left: 10px; bottom: 39px; color:#5BAEF3">
       <mat-icon style="position: absolute; ">keyboard_arrow_right</mat-icon>
    </span>
</span>

<span class="digi-adjust">
    <span class="digi-1" style=" margin-left: 44px; color:#5BAEF3" >
        <mat-icon style="position: absolute ;color:#5BAEF3; font-size:20px;">looks_3</mat-icon>
    </span>
    <span  class="digi-2" style=" margin-left: 34px; color:black" >
       Prompt Settings
    </span>
    <span class="digi-3" style="position: absolute;margin-left: 10px; bottom: 39px; color:#5BAEF3">
       <mat-icon style="position: absolute; ">keyboard_arrow_right</mat-icon>
    </span>
</span>

<span class="digi-adjust">
    <span  class="digi-1" style=" margin-left: 44px;">
        <mat-icon style="position: absolute;color:darkgray; font-size:20px;">looks_4</mat-icon>
    </span>
     <span class="digi-2" style=" margin-left: 34px;color:darkgray" >
        Assignment Settings
    </span>
</span>
    </ul>
  
</mat-card>

